:root {
    --main-color : #21284b;
    --accent-color : #e67b66;
    --sec-color : #815196;
    --text-color: white;
}

/* COLORI GENERALI */
.tc-main {
    color: var(--main-color);
} 

.tc-accent{
    color: var(--accent-color);
}

.tc-sec{
    color: var(--sec-color);
}

.bg-main{
    background-color: var(--main-color);
}

.bg-accent{
    background-color: var(--accent-color);
}



/* TESTO */
body * {
    font-family: 'Ubuntu', sans-serif;
}

.font-logo {
    font-family: 'Righteous', cursive;
    
}
nav .font-logo {
    letter-spacing: 3px;
    font-weight: 100;
}
h2 .font-logo {
    font-weight: 100;
}


/* NAVBAR */

.navbar.navbar-custom {
    background-color: #21284be3;
    color: var(--accent-color) !important;
    text-decoration: none;
}

.navbar.navbar-custom a {
    color: inherit;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-button {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent !important;
    border: 1px solid var(--accent-color) !important;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

#menu-icon {
    transition: all 0.5s ease-in-out;
}

.nav-effect {
    transform: rotate(90deg);
}

.nav-item:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.navbar-brand:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

/* @media screen and (max-width: 1000px) {
    .navbar-nav {
        justify-content:stretch;
    }
} */

@media screen and (max-width: 991px) {
    #navbarSupportedContent {
        justify-content: start!important;
    }
}

/* TITLE */
.title-presto{
    font-size: 80px;
}


/* MASTHEAD */

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--main-color) !important;
    }
    
    .masthead {
        height: 100vh;
        min-height: 500px;
        background-image: url(./media/Bg-4.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .shake:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 2px;
    }


    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    @media screen and (max-width: 780px){
        .searchbar:hover > .search_input{
            width: 300px; 
        }
    }

    @media screen and (max-width: 445px){
        .searchbar:hover > .search_input{
            width: 200px;
        }
    }

    .searchbar:hover > .search_icon{
    background: var(--main-color);
    color: white;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main-color);
    text-decoration:none;
    }


    /* CARDS */

    .btn-color{
        background-color: var(--main-color);
        color: white;
        transition: all 0.5s ease-in-out;
    }

    .card-custom{
        border: 1px solid lightgrey;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        backdrop-filter: blur(3px);
        transition: all 0.5s ease-in-out;
    }

    .card-custom:hover {
        -webkit-box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.3); 
        box-shadow: 5px 5px 5px 4px rgba(70, 49, 49, 0.2);
        background-color: rgba(230, 123, 102, 0.3);
        transform: scale(1.1);
    }

    .cardsAd:hover{
        background-color: lightgray;
        transition: all 0.4s ease-in-out;
    }

    .btn-color:hover{
        background-color: white;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        transition: all 0.5s ease-in-out;
    }

    h2, span {
        font-weight: 600;
    }


    /* CAROUSEL */

    .card-img-overlay h5 , p {
        -webkit-text-stroke: 0.4px black;
    }

    .ad-card-overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    transition: all 0.4s ease-in-out;
}

.ad-card-overlay:hover{
    backdrop-filter: blur(0);
    background: none;
}

.heart-like:hover{
    color: cyan;
    transform: scale(1.4);
    transition: all 0.4s ease-in-out;
}

    .slick-prev:before, .slick-next:before{
        font-size: 30px;
        color: var(--accent-color);
    } 

    .btn-outline-main{
        background-color: var(--main-color);
        color: white;
        border: 3px solid var(--main-color);
        padding: 5px;
        transition: all 0.5s ease-in-out;
        
    }

    .btn-outline-main:hover{
        background-color: var(--accent-color);
        color: var(--accent-color);
    }

    .slick-next , .slick-prev {
        color: white;
    }


    /* GO UP BUTTON */
    #myBtn {
        display: none;
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: var(--accent-color); 
        color: var(--main-color); 
        cursor: pointer; 
        padding: 15px; 
        border-radius: 50px; 
        font-size: 18px; 
        transition: all 0.3s ease-in-out;
        opacity: 50%;
      }
      
      #myBtn:hover {
        background-color: var(--main-color); /* Add a dark-grey background on hover */
        color: var(--accent-color);
        opacity: 100%;
      }


      .input-custom{
          border: 2px solid var(--main-color);
          border-radius: 6px;
      }

    

    /* FOOTER */

    .bg-footer{
        background-image: url(./media/Bg-4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    ul li {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }



    /* SEZIONE FILTRI */

    .filter-nav-custom{
        border-radius: 15px;
        height: 80%;
        background-image: url(./media/Bg-4.png);
        background-size: cover;
        background-position: top right;
    }

    @media screen and (max-width:992px) {
        #min-price {
            max-width: 210px;
        }

        #max-price {
            max-width: 210px;
        }

        #input-text {
            max-width: 197px;
        }
        .card-body button {
            transform: scale(0.8)
            translateX(-13%)
         }
    }

    @media screen and (max-width:767px) {
        .card-body {
            text-align: center;
        }

        .card-body button {
            transform: scale(1)
         }

    }


    @media screen and (max-width:301px) {
        #ordine-crescente{
            transform: scale(0.8);
        }

        #ordine-decrescente {
            transform: scale(0.8);
        }
    }


    /* BOTTONE COMPRA */
    
    .buy-btn{
        color: white;
    }






     /* CECILIA */


    /* PROFILO */

    /* .img-profilo {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: solid var(--accent-color) 5px;
        padding: 5px;
    } */

    .card-custom {
        width: 300px;
        height: 300px;
    } 

    .img-profilo {
        width: 300px;
        height: 700px;
    }


    /* ACCORDION */

    .i-color {
        color: #e67b66;
    }


    .accordion-button:not(.collapsed) {
        color:white;
        background-color:lightgrey;
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: var(--main-color);
        color: white;
        outline: transparent;
        box-shadow: none;
    }


    /* MODALE */
    
    .modal-border {
        border-bottom: 2px solid var(--accent-color);
    }